# Capture is the default output directory for footage recorded in OBS: keep a dummy
# file versioned in there so that the default OBS output directory will always exist
/capture/*
!/capture/.do_not_delete

# Storage is where we stage recordings organized by tape: when finished capturing video
# clips for a given tape, we can cut them to storage/<tape-id>, apporpriately named
/storage/

# alerts/ and emotes/ are used to store rendered/processed emotes for animated elements
/alerts/
/emotes/

# The OBS install script temporarily downloads a portable OBS .zip file
OBS-Studio-*.zip

# Ignore compiled Python bytecode
__pycache__/
*.pyc
